version: '3.8'
services:
  reservas-db:
    image: mysql:8.0
    container_name: elbuensabor_mysql
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=qu1Nch1nK 
      - MYSQL_DATABASE=elbuensabor_db
      - MYSQL_USER=redStak
      - MYSQL_PASSWORD=qu1Nch1nK
    ports:
      - "3307:3306"  
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:

networks:
  default:
    driver: bridge