version: '3.8'
services:
  discovery:
    build:
      context: .
      dockerfile: dockerfile
    container_name: discovery
    ports:
      - "8761:8761"
    networks:
      elbuensabor_network:
        ipv4_address: 172.18.0.10

networks:
  elbuensabor_network:
    name: elbuensabor_network
    driver: bridge
    ipam:
      config:
        - subnet: 172.18.0.0/16