version: '3.8'
services:
  reservas:
    build:
      context: .
      dockerfile: dockerfile
    deploy:
      mode: replicated
      replicas: 2
    networks:
      - elbuensabor_network

networks:
  elbuensabor_network:
    external: true